[submodule "Ace7-Localization-Format"]
	path = Ace7-Localization-Format
	url = https://github.com/GreenTrafficLight/Ace7-Localization-Format.git
[submodule "UAssetAPI"]
	path = UAssetAPI
	url = https://github.com/atenfyr/UAssetAPI.git
