[submodule "Ace7-Localization-Format"]
	path = Ace7-Localization-Format
	url = https://github.com/GreenTrafficLight/Ace7-Localization-Format.git
[submodule "CUE4Parse"]
	path = CUE4Parse
	url = https://github.com/FabianFG/CUE4Parse
